
    .tournament{
       
    
        color:blue;
    }
    
    .tournament1{
        
    
        color:blue;
    }
    
    
    .tournament11{
        
    
        color:blue;
    }
    
   
    #bar{
        color: blue;
    }